$ff-volvo = 'VolvoNovum-Regular', sans-serif
$ff-volvobroad = 'VolvoBroadProDigital', sans-serif

$c-black = #000
$c-white = #fff
$c-grey = rgb(79, 79, 79)
$c-gradtest = rgba(0, 0, 0, 0.5)
$c-gradresult = rgba(0, 0, 0, 0.7)
$c-lite = #BDBDBD
