mixin result()

    +b('section').result
        +e.wrap
            +e.content
                +e('p').title Больше 1
                +e('p').answer Элегантный и надежный Volvo PV654 
                +e('p').text Люксовая версия классической модели 1933–1937 годов обладала роскошным салоном, двумя запасными колесами и фонарем заднего хода, а также была доступна в нескольких цветах. 6-цилиндровый автомобиль совместил все, о чем можно было только мечтать: комфорт, стиль, модный дизайн и особый характер.
            +e.sharing
                +e('a').link Поделиться
                +sharing()
            +e('button').btn пройти еще раз